{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
      comma-dangle: ["error", "never"],
      no-useless-constructor: 0,
      react/prop-types: 0,
      "indent": 0,
      "arrow-body-style": 0,
      "no-unused-vars": 0,
      react/self-closing-comp: 0
    }
}

