.layout {
	z-index: 0;
}

/*
NAV BAR STYLING
 */

.appTitle{
  font-family: 'Lobster', cursive;
  font-size: 128px;
  color: white;
}

.circle{
  stroke-width: 3;
}

.pin{
  stroke-width: 3;
}

#earth_div{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute !important;
	z-index: -1;
}

/*temporary api response styling*/
.result{
  position: absolute;
  top: 900px;
}


/* Marker styling for components*/
.marker-img {
	margin-left: -10px;
}
