.layout {
	z-index: 0;
}

/*
NAV BAR STYLING
 */

.appTitle{
  font-family: 'Lobster Two', cursive;
  font-size: 98px;
  color: #85E6AD;
}


/* 
SIDE BAR STYLING
 */
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
}

.favorited-items {
  margin-left: 20px;
  color: #fff;
}

.burger-container {
  float: left;
}

.hamburger {
  color: #fff;
  background: transparent;
  margin: 20px;
  position: relative;
  height: 30px;
  width: 50px;
}

.hamburger:before {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
}

.hamburger:after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
}

.hamburger:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
}

.hamburger:after {
    position: absolute;
    top: calc(100% - 2px);
}

.close:before {
  animation: beforeOpenAnimate 1s forwards;
}

.close:after {
  animation: afterOpenAnimate 1s forwards;
}

.open:before {
  animation: beforeCloseSidebar 1s forwards;
}

.open:after {
  animation: afterCloseSidebar 1s forwards;
}

.sidebar-open {
  animation: sidebarOpen 1s forwards;
}

.sidebar-close {
  animation: sidebarClose 1s forwards; 
}

@keyframes sidebarOpen {
  to {
    width: 300px;
    background-color: rgba(133, 230, 173, 0.8);
  }
}

@keyframes sidebarClose {
  from {
    width: 300px;
    background-color: rgba(133, 230, 173, 0.8);
  }
  to {
    width: auto;
    background-color: transparent;
  }
}

@keyframes beforeCloseSidebar {
  to {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
  }
}

@keyframes afterCloseSidebar {
  to {
    top: 50%;
    transform: rotate(315deg);
  }
}

@keyframes beforeOpenAnimate {
  from {
    transform: rotate(225deg);
  }
  to {
    box-shadow: #fff 0 14px 0 0;
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes afterOpenAnimate {
  from {
    transform: rotate(315deg);
  }
  to {
    top: calc(100% - 2px);
    transform: rotate(0deg);
  }
}

/*
ABOUT THE TEAM STYLING
 */
.about {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
}

.fa-rocket {
  color: white;
  float: right;
  margin: 20px;
}

.fa-rocket:hover {
  color: #BF6B37;
}

.close:before {
  animation: beforeOpenAnimate 1s forwards;
}

.close:after {
  animation: afterOpenAnimate 1s forwards;
}

.open:before {
  animation: beforeCloseSidebar 1s forwards;
}

.open:after {
  animation: afterCloseSidebar 1s forwards;
}

.about-open {
  animation: aboutOpen 1s forwards;
}

.about-close {
  animation: aboutClose 1s forwards; 
}

@keyframes aboutOpen {
  to {
    height: 637px;
    background-color: rgba(133, 230, 173, 0.8);
  }
}

@keyframes aboutClose {
  from {
    height: 637px;
    background-color: rgba(133, 230, 173, 0.8);
  }
  to {
    height: auto;
    background-color: transparent;
  }
}

@keyframes beforeCloseAbout {
  to {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
  }
}

@keyframes afterCloseAbout {
  to {
    top: 50%;
    transform: rotate(315deg);
  }
}

@keyframes beforeOpenAnimate {
  from {
    transform: rotate(225deg);
  }
  to {
    box-shadow: #fff 0 14px 0 0;
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes afterOpenAnimate {
  from {
    transform: rotate(315deg);
  }
  to {
    top: calc(100% - 2px);
    transform: rotate(0deg);
  }
}

.profileContainer {
  font-family: 'Lobster Two', cursive;
  font-size: 58px;
  text-align: center;
  margin-left: 72px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.td-img {
  padding: 0px 0px 0px 0px!important;
  width: 272px;
}

.profile-img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.profile-name {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.profile-role {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.fa-github-square {
  color: white;
  margin-right: 10px;
}

.fa-github-square:hover {
  color: #BF6B37;
}

.fa-linkedin-square {
  color: white;
}

.fa-linkedin-square:hover {
  color: #BF6B37;
}

/*
GLOBE STYLING
 */
.circle{
  stroke-width: 3;
}

.pin{
  stroke-width: 3;
}

#earth_div{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute !important;
	z-index: -1;
}

/* 
MARKER STYLING FOR ALL PINGS
*/
button:focus {
  outline: none;
  background-color: transparent;
}

.we-pm-icon {
  width: 30px !important;
  height: 30px !important;
  background-image: none !important;
  margin: -35px 0 0 -15px !important;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
}

.fa-heart:hover {
  color: #1B9888;
}

.favoriteButton {
  border: none; 
  background-color: transparent;
}

.we-pp-wrapper {
  background: #b7f0cf;
}

.we-pp-tip {
  background: #b7f0cf; 
}

.we-pp-close {
  background: url('https://s32.postimg.org/8159hxrxh/asdasd21.png');
}

/*
FLICKR STYLING
 */
.flickrContainer {
  position: relative;
  height: 236px;
  width: 200px;
}

.flickrLogo {
  width: 80px;
  height: 50px;
}

.flickrImg {
  width: 100%;
  height: auto;
}

#flickrHeart {
  float: right;
  color: #E7576F;
  font-size: 1.5em;
  margin-right: -15px;
  margin-bottom: -10px;
}

#flickrHeart:hover {
  color: #fff;
}

/*
NY TIMES STYLING
 */
.nyTimesContainer {
  position: relative;
}

.nyTimesLogo {
  width: 100px;
  height: 90px;
}

.nyTimesImg {
  width: 150%;
  height: auto;
}

#nyTimesHeart {
  float: right;
  color: #E7576F;
  font-size: 1.5em;
  margin-right: -15px;
  margin-bottom: -10px;
}

#nyTimesHeart:hover {
  color: #fff;
}

/*
EVENT REGISTRY STYLING
 */
.eventRegistryContainer {
  position: relative;
}

.eventRegistryLogo {
  width: 125px;
  height: 35px;
}

.eventRegistryImg {
  width: 100%;
  height: auto;
}

#eventRegistryHeart {
  float: right;
  color: #E7576F;
  font-size: 1.5em;
  margin-right: -15px;
  margin-bottom: -10px;
}

#eventRegistryHeart:hover {
  color: #fff;
}

/*
YELP STYLING
 */
.yelpContainer {
  position: relative;
  height: 250px;
  width: 200px;
}

.yelpLogo {
  width: 80px;
  height: 50px;
}

.yelpImg {
  width: 100%;
  height: auto;
}

.yelpForm {
  margin-right: -15px;
  margin-bottom: -10px;
}

#yelpHeart {
  float: right;
  color: #E7576F;
  font-size: 1.5em;
  margin-right: -15px;
  margin-bottom: -10px;
}

#yelpHeart:hover {
  color: #fff;
}

/*
YOUTUBE STYLING
 */
.youtubeContainer {
  position: relative;
}

.youtubeLogo {
  width: 80px;
  height: 50px;
}

.youtubeImg {
  width: 100%;
  height: auto;
}

#youtubeHeart {
  float: right;
  color: #E7576F;
  font-size: 1.5em;
  margin-right: -60px;
  margin-bottom: -10px;
}

#youtubeHeart:hover {
  color: #fff;
}


/*
USGS STYLING
 */
.usgsContainer {
  position: relative;
}

.usgsLogo {
  width: 100px;
  height: 60px;
}

.usgsImg {
  width: 100%;
  height: auto;
}

#usgsHeart {
  float: right;
  color: #E7576F;
  font-size: 1.5em;
  margin-right: -15px;
  margin-bottom: -10px;
}

#usgsHeart:hover {
  color: #fff;
}

