.layout {
	z-index: 0;
}

/*
NAV BAR STYLING
 */

.appTitle{
  font-family: 'Lobster Two', cursive;
  font-size: 98px;
/*  color: #84D8A8;*/
  color: #85E6AD;
}


/*
GLOBE STYLING
 */
.circle{
  stroke-width: 3;
}

.pin{
  stroke-width: 3;
}

#earth_div{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute !important;
	z-index: -1;
}


/* Marker styling for components*/
.marker-img {
	margin-left: -10px;
}
