.layout {
	z-index: 0;
}

/*
NAV BAR STYLING
 */

.appTitle{
  font-family: 'Lobster Two', cursive;
  font-size: 98px;
  color: #85E6AD;
}

/* SIDE BAR STYLING */

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
}

.favorited-items {
  margin-left: 20px;
  color: #fff;
}

.burger-container {
  float: left;
}

.hamburger {
  color: #fff;
  background: transparent;
  margin: 20px;
  position: relative;
  height: 30px;
  width: 50px;
}

.hamburger:before {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
}

.hamburger:after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
}

.hamburger:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
}

.hamburger:after {
    position: absolute;
    top: calc(100% - 2px);
}

.close:before {
  animation: beforeOpenAnimate 1s forwards;
}

.close:after {
  animation: afterOpenAnimate 1s forwards;
}

.open:before {
  animation: beforeCloseSidebar 1s forwards;
}

.open:after {
  animation: afterCloseSidebar 1s forwards;
}

.sidebar-open {
  animation: sidebarOpen 1s forwards;
}

.sidebar-close {
  animation: sidebarClose 1s forwards; 
}

@keyframes sidebarOpen {
  to {
    width: 300px;
    background-color: rgba(133, 230, 173, 0.8);
  }
}

@keyframes sidebarClose {
  from {
    width: 300px;
    background-color: rgba(133, 230, 173, 0.8);
  }
  to {
    width: auto;
    background-color: transparent;
  }
}

@keyframes beforeCloseSidebar {
  to {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
  }
}

@keyframes afterCloseSidebar {
  to {
    top: 50%;
    transform: rotate(315deg);
  }
}

@keyframes beforeOpenAnimate {
  from {
    transform: rotate(225deg);
  }
  to {
    box-shadow: #fff 0 14px 0 0;
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes afterOpenAnimate {
  from {
    transform: rotate(315deg);
  }
  to {
    top: calc(100% - 2px);
    transform: rotate(0deg);
  }
}

/*.hamburger:active:before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}

.hamburger:active:after {
  top: 50%;
  transform: rotate(315deg);
}*/

/*
GLOBE STYLING
 */
.circle{
  stroke-width: 3;
}

.pin{
  stroke-width: 3;
}

#earth_div{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute !important;
	z-index: -1;
}

/*.we-pm-icon {
  width: 30px !important;
  height: 30px !important;
  background-image: none !important;
  margin: -35px 0 0 -15px !important;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
}*/


/* 
MARKER STYLING FOR ALL PINGS
*/
button:focus {
  outline: none;
  background-color: transparent;
}

.we-pm-icon {
  width: 30px !important;
  height: 30px !important;
  background-image: none !important;
  margin: -35px 0 0 -15px !important;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
}

.fa-heart:hover {
  color: #1B9888;
}

.favoriteButton {
  border: none; 
  background-color: transparent;
}

/*
FLICKR STYLING
 */
.flickrContainer {
  position: relative;
}

.flickrLogo {
  width: 80px;
  height: 50px;
}

.flickrImg {
  width: 100%;
  height: auto;
}

#flickrHeart {
  position:absolute;
  top:0;
  right:0;
}

/*
NY TIMES STYLING
 */
.nyTimesContainer {
  position: relative;
}

.nyTimesLogo {
  width: 100px;
  height: 90px;
}

.nyTimesImg {
  width: 150%;
  height: auto;
}

#nyTimesHeart {
  position:absolute;
  top:0;
  right:0;
}

/*
EVENT REGISTRY STYLING
 */
.eventRegistryContainer {
  position: relative;
}

.eventRegistryLogo {
  width: 100px;
  height: 60px;
}

.eventRegistryImg {
  width: 100%;
  height: auto;
}

#eventRegistryHeart {
  position:absolute;
  top:0;
  right:0;
}

/*
YELP STYLING
 */
.yelpContainer {
  position: relative;
}

.yelpLogo {
  width: 80px;
  height: 50px;
}

.yelpImg {
  width: 100%;
  height: auto;
}

#yelpHeart {
  position:absolute;
  top:0;
  right:0;
}

/*
YOUTUBE STYLING
 */
.youtubeContainer {
  position: relative;
}

.youtubeLogo {
  width: 80px;
  height: 50px;
}

.youtubeImg {
  width: 100%;
  height: auto;
}

#youtubeHeart {
  position:absolute;
  top:0;
  right:0;
}


/*
USGS STYLING
 */
.usgsContainer {
  position: relative;
}

.usgsLogo {
  width: 100px;
  height: 60px;
}

.usgsImg {
  width: 100%;
  height: auto;
}

#usgsHeart {
  position:absolute;
  top:0;
  right:0;
}
